DirectoryIndex sp_index.php

RewriteEngine On 

RewriteRule ^folder/(.*) sp_index.php?dir=./$1 [B]
RewriteRule ^file/(.*) sp_index.php?file=./$1 [B]
RewriteRule ^thumb/(.*) sp_getthumb.php?source=$1 [B]
